<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact - Waste Classifier</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <!-- Navigation Bar -->
  <header class="header">
    <div id="logo-container">
      <img id="logo-img" src="{{ url_for('static', filename='images/waste2.webp')}}" alt="Waste Classifier Logo">
      <span id="logo-text">Waste Classifier</span>
    </div>
    <!-- Hamburger Menu Button -->
    <div id="menu-btn">&#9776;</div>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('classify') }}">Classify</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
  </header>

  <!-- Contact Section -->
  <section class="contact">
    <h1 class="heading">Meet the Developers</h1>
    <div class="developers-container">
      <!-- Developer Profile 1 -->
      <div class="developer">
        <img src="{{ url_for('static', filename='/images/angel.jpg') }}" alt="Developer 1" width="300px">
        <h3>Angel Kuria</h3>
        <p>Email: waithiraangel78@gmail.com</p>
        <p>Phone: +254 758 553026</p>
        <p>Angel is a developer who is passionate about sustainable design and eco-friendly tech solutions.</p>
        <!-- <a href="https://twitter.com/janedoe" target="_blank">GitHub</a> -->
      </div>
      <!-- Developer Profile 2 -->
      <div class="developer">
        <img src="{{ url_for('static', filename='images/frasiah.jpg') }}" alt="Developer 2" width="300px">
        <h3>Karanja Nyambura</h3>
        <p>Email: frasiahnyambura22@gmail.com</p>
        <p>Phone:+254 710 970895</p>
        <p>Software Engineer passionate about crafting efficient and user-friendly digital solutions.</p>
        <!-- <a href="https://github.com/johnsmith" target="_blank">GitHub</a> -->
      </div>
      <!-- Add more developer profiles as needed -->
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Waste Classifier. All rights reserved.</p>
  </footer>
</body>
</html>
